<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worker.infra.mapper.user.AdminUserMapper">
    <select id="selectAdminUserPage" resultType="com.worker.infra.dataobject.user.AdminUserPageDO">
        select aui.id as id, aui.real_name as realName, aui.phone_num as phoneNum, GROUP_CONCAT(ari.role_name) as roleNames,
               aui.created_time as createdTime, aui.status as status
        from admin_user_info as aui
        left join admin_user_role_relation as aurr on aui.id = aurr.admin_user_id
        left join admin_role_info as ari on aurr.admin_role_id = ari.id
        <where>
            aui.delete = 0
            <if test="condition.status != null">
                and aui.status = #{condition.status}
            </if>
            <if test="condition.roleId != null">
                and ari.id = #{condition.roleId}
            </if>
            <if test="condition.keyWords != null and condition.keyWords != ''">
                and (aui.real_name like CONCAT('%',#{condition.keyWords},'%') or aui.phone_num like
                CONCAT('%',#{condition.keyWords},'%'))
            </if>
        </where>
        group by aui.id
        order by aui.created_time desc
    </select>
</mapper>