<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worker.infra.mapper.user.AdminUserMapper">
    <select id="selectAdminUserPage" resultType="com.worker.infra.dataobject.user.AdminUserPageDO">
        select su.id as id, su.real_name as realName, su.phone_num as phoneNum, su.password as password, sr.id as roleId, sr.role_name as roleNames,
        su.created_time as createdTime, su.status as status
        from sys_user as su
        left join sys_user_role_relation as surr on su.id = surr.admin_user_id
        left join sys_role as sr on surr.admin_role_id = sr.id
        <where>
            su.delete = 0
            <if test="condition.status != null">
                and su.status = #{condition.status}
            </if>
            <if test="condition.roleId != null">
                and sr.id = #{condition.roleId}
            </if>
            <if test="condition.realName != null and condition.realName != ''">
                and su.real_name like CONCAT('%',#{condition.realName},'%')
            </if>
        </where>
        group by su.id
        order by su.created_time desc
    </select>
</mapper>