<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.worker.infra.mapper.role.RoleMapper">
    <select id="selectRolePage" resultType="com.worker.infra.dataobject.role.RolePageDO">
        select sr.id as id, sr.role_name as roleName, sr.status as status, sr.created_time as createdTime
        from sys_role sr
        <where>
            sr.delete = 0
            <if test="condition.roleName != null and condition.roleName != ''">
                and sr.role_name like CONCAT('%',#{condition.roleName},'%')
            </if>
            <if test="condition.status != null">
                and sr.status = #{condition.status}
            </if>
        </where>
        order by sr.created_time desc
    </select>
</mapper>